@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

body,
html,
#__next {
  overflow-x: hidden;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

/* For peer input that is NOT placeholder-shown */
.peer:not(:placeholder-shown) ~ label {
  transform: translateY(-1rem) scale(0.75);
}